<!-- * code for List view -->

<div class="col-sm-8">
       <!--  <% if params[:category] %>
            <% @myproperties = Property.where(category:params["category"]).order("id ASC").all %>
        <% end %> -->

    <% @properties.each do |property| %>
      <% if property[:pic].blank? %>
        <div class="row">
          <a href="<%=property_path(property) %>">
            <%= image_tag "http://placehold.it/600x400", class: "play" %>
          </div>
        <% else %>
          <div class="row">
          <a href="<%=property_path(property) %>">
            <%= image_tag property.pic, class: "play" %>
          </div>
        <% end %>
    <% end %>
</div>

