<div class="jumbotron">
      <div class="center">
          <h1 class="display-3">Location Finder</h1>
          <p class="lead">Digital Platform to find shooting locations in London</p>
          <hr class="marker">
      </div>

        <a href="?view=grid" class="btn btn-primary btn-md">
          <span class="glyphicon glyphicon-th-large"></span> Grid
        </a>
        <a href="?view=list" class="btn btn-primary btn-md">
          <span class="glyphicon glyphicon-th-list"></span> List
        </a>

             <%= render 'sidepanel' %>

            <% if params[:view]=="list" %>
              <%= render 'list', properties: @properties %>
            <% else %>
              <%= render 'grid', properties: @properties %>
            <% end %>


</div>
