<div class="jumbotron">
      <div class="center">
          <h1 class="display-3">Location Finder</h1>
          <p class="lead">Digital Platform to find shooting locations in London</p>
          <hr class="marker">
      </div>

        <div class="row" >
        <div class="col-md-12">
          <a href="?view=list" class="glypicon-pos btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-th-list"></span> List
          </a>
          <a href="?view=grid" class="glypicon-pos btn btn-primary btn-md pull-right">
            <span class="glyphicon glyphicon-th-large"></span> Grid
          </a>
        </div>
       </div>

            <%= render 'sidepanel' %>
            <% if params[:view]=="list" %>
              <%= render 'list', properties: @properties %>
            <% else %>
              <%= render 'grid', properties: @properties %>
            <% end %>
</div>
